Node Red/flows.json
[
    {
        "id": "e9881d959318802f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "623e333751e79b6f",
        "type": "mqtt in",
        "z": "e9881d959318802f",
        "name": "Subscriber Activate Pump 2",
        "topic": "activate_pump2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26605a32c92b77a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "6aa7057bf50a960c"
            ]
        ]
    },
    {
        "id": "6aa7057bf50a960c",
        "type": "debug",
        "z": "e9881d959318802f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "06fe8abd0196c09a",
        "type": "mqtt out",
        "z": "e9881d959318802f",
        "name": "Publisher Activate Pump 2",
        "topic": "activate_pump2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26605a32c92b77a7",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "59d97b0e3a812766",
        "type": "mqtt in",
        "z": "e9881d959318802f",
        "name": "Subscriber Activate Pump 1",
        "topic": "activate_pump1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26605a32c92b77a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 80,
        "wires": [
            [
                "63b924868e9f09bd"
            ]
        ]
    },
    {
        "id": "63b924868e9f09bd",
        "type": "debug",
        "z": "e9881d959318802f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "6812552ccd276522",
        "type": "mqtt out",
        "z": "e9881d959318802f",
        "name": "Publisher Activate Pump 1",
        "topic": "activate_pump1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26605a32c92b77a7",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "2dbf3a177774f4ea",
        "type": "function",
        "z": "e9881d959318802f",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "6812552ccd276522"
            ]
        ]
    },
    {
        "id": "49394b9d21fb437b",
        "type": "function",
        "z": "e9881d959318802f",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 720,
        "wires": [
            [
                "06fe8abd0196c09a"
            ]
        ]
    },
    {
        "id": "ddeeed65093342b6",
        "type": "ui_button",
        "z": "e9881d959318802f",
        "name": "",
        "group": "6a8c0161753368ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activate Pump 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Button Pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "2dbf3a177774f4ea"
            ]
        ]
    },
    {
        "id": "b5fc52213e1946dc",
        "type": "ui_button",
        "z": "e9881d959318802f",
        "name": "",
        "group": "6a8c0161753368ae",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Activate Pump 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Button Pressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 720,
        "wires": [
            [
                "49394b9d21fb437b"
            ]
        ]
    },
    {
        "id": "ae5325b9caea5bbb",
        "type": "mqtt in",
        "z": "e9881d959318802f",
        "name": "Subscriber Status Flower 1",
        "topic": "status_flower1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26605a32c92b77a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "5efce02e163885fa"
            ]
        ]
    },
    {
        "id": "5efce02e163885fa",
        "type": "debug",
        "z": "e9881d959318802f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "2e1d8e2c7b395403",
        "type": "mqtt in",
        "z": "e9881d959318802f",
        "name": "Subscriber Status Flower 2",
        "topic": "status_flower2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26605a32c92b77a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 820,
        "wires": [
            [
                "003a8764e542f4bf"
            ]
        ]
    },
    {
        "id": "003a8764e542f4bf",
        "type": "debug",
        "z": "e9881d959318802f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 820,
        "wires": []
    },
    {
        "id": "dd006504b34a1faf",
        "type": "mqtt out",
        "z": "e9881d959318802f",
        "name": "Publisher Status Flower 1",
        "topic": "status_flower1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26605a32c92b77a7",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "38c0b387c82aaadd",
        "type": "mqtt out",
        "z": "e9881d959318802f",
        "name": "Publisher Status Flower 2",
        "topic": "status_flower2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26605a32c92b77a7",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "4c9fcf7dacd82b97",
        "type": "mqtt out",
        "z": "e9881d959318802f",
        "name": "Publisher Watering Time 1",
        "topic": "watering_time1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26605a32c92b77a7",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "921452ba7fb1f602",
        "type": "function",
        "z": "e9881d959318802f",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 480,
        "wires": [
            [
                "4c9fcf7dacd82b97"
            ]
        ]
    },
    {
        "id": "11aac11292a71901",
        "type": "mqtt in",
        "z": "e9881d959318802f",
        "name": "Subscriber Watering Time 1",
        "topic": "watering_time1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26605a32c92b77a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "09e47ccc219cb766"
            ]
        ]
    },
    {
        "id": "09e47ccc219cb766",
        "type": "debug",
        "z": "e9881d959318802f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "b7fd2725408fa146",
        "type": "mqtt out",
        "z": "e9881d959318802f",
        "name": "Publisher Watering Time 2",
        "topic": "watering_time2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26605a32c92b77a7",
        "x": 760,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b8e2adf89002cfe7",
        "type": "function",
        "z": "e9881d959318802f",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "b7fd2725408fa146"
            ]
        ]
    },
    {
        "id": "3e5429ead175b115",
        "type": "mqtt in",
        "z": "e9881d959318802f",
        "name": "Subscriber Watering Time 2",
        "topic": "watering_time2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26605a32c92b77a7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 960,
        "wires": [
            [
                "a8a3527b0a5f82d2"
            ]
        ]
    },
    {
        "id": "a8a3527b0a5f82d2",
        "type": "debug",
        "z": "e9881d959318802f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 960,
        "wires": []
    },
    {
        "id": "5f620c15cb3bc5c6",
        "type": "ui_dropdown",
        "z": "e9881d959318802f",
        "name": "Dropdown Water Amount 1",
        "label": "Wassermenge",
        "tooltip": "",
        "place": "Select option",
        "group": "6a8c0161753368ae",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sehr Wenig Wasser",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Wenig Wasser",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Etwas Wasser",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Viel Wasser",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Sehr Viel Wasser",
                "value": 5,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "921452ba7fb1f602"
            ]
        ]
    },
    {
        "id": "e841e217d74c9467",
        "type": "ui_dropdown",
        "z": "e9881d959318802f",
        "name": "Dropdown Water Amount 2",
        "label": "Wassermenge",
        "tooltip": "",
        "place": "Select option",
        "group": "6a8c0161753368ae",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sehr Wenig Wasser",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Wenig Wasser",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Etwas Wasser",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Viel Wasser",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Sehr Viel Wasser",
                "value": 5,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "b8e2adf89002cfe7"
            ]
        ]
    },
    {
        "id": "26605a32c92b77a7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6a8c0161753368ae",
        "type": "ui_group",
        "name": "Pumpen verwalten",
        "tab": "2c4ba265e22b1801",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c4ba265e22b1801",
        "type": "ui_tab",
        "name": "Freundschaft durch die Blume",
        "icon": "wi-wu-sunny",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]